<!--Header-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <!--Title-->
    <ion-title>
      Grocery
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--Content-->
<ion-content padding>
  <!--Ionic List Component-->
  <ion-list>
    <!--Item Sliding Item - Milk-->
    <ion-item-sliding>
      <!--Ionic Item-->
      <ion-item>
        <!--Item Name-->
        <h2>Milk</h2>
        <!--Item Quantity-->
        <p>1</p>
      </ion-item>
      <!--Item Sliding Option-->
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <!--Item Sliding Item - Bread-->
    <ion-item-sliding>
      <!--Ionic Item-->
      <ion-item>
        <!--Item Name-->
        <h2>Bread</h2>
        <!--Item Quantity-->
        <p>2</p>
      </ion-item>
      <!--Item Sliding Option-->
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <!--Item Sliding Item - Eggs-->
    <ion-item-sliding>
      <!--Ionic Item-->
      <ion-item>
        <!--Item Name-->
        <h2>Eggs</h2>
        <!--Item Quantity-->
        <p>12</p>
      </ion-item>
      <!--Item Sliding Option-->
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <!--Item Sliding Item - Butter-->
    <ion-item-sliding>
      <!--Ionic Item-->
      <ion-item>
        <!--Item Name-->
        <h2>Butter</h2>
        <!--Item Quantity-->
        <p>5</p>
      </ion-item>
      <!--Item Sliding Option-->
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <!--Item Sliding Item - Cheese-->
    <ion-item-sliding>
      <!--Ionic Item-->
      <ion-item>
        <!--Item Name-->
        <h2>Cheese</h2>
        <!--Item Quantity-->
        <p>3</p>
      </ion-item>
      <!--Item Sliding Option-->
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="trash"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
